body{
	height: 100%;
	background-color: #00b4f5;
}
p{
	font-family: "Comic Sans MS";
}
H1{
	color: black;
	font-family: "Comic Sans MS";
}
textalign{
	/* This goes over the whole body */
	text-align: center;
}
